@import 'common';

.Tabs {
  background-color: #6190e8;
  &-tab {
    display: block;
    position: relative;
    text-align: center;
    padding: 20px 20px;

    &::after {
      content: '';
      display: none;
      position: absolute;
      right: 0;
      top: 50%;
      width: 6px;
      height: 50%;
      transform: translateY(-50%);
      background: #6190e8;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      box-shadow: 1px 0 12px 0 #6190e8;
    }

    &-active {
      background-color: rgba(236, 242, 252, 0.2);

      &::after {
        display: inline-block;
      }
    }
  }
}
