// 第三方样式
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/progress.scss";
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/fab.scss";
@import "~taro-ui/dist/style/components/input.scss";
//公共样式（全局只引入一次）
// @import '@/styles/common';
@import '@/styles/pixel/index.scss';
// 业务样式（要引用公共样式的组件在此处导入）
@import '@/styles/pages/panel.scss';
@import '@/styles/pages/me.scss';
@import '@/styles/components/Tabs.scss';

@font-face {
  font-family: 'PressStart2P';
  src: url('../assets/PressStart2P.woff2') format('woff2')
}

page {
  height: 100%;
  font-family: "PressStart2P";
}
